html {
  font-size: 15px;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  text-decoration: none;
  outline: none;
}

.carte {
  width: 20.33rem;
  height: 21.86rem;
  border: 2px solid #986EFB;
  border-radius: 2.15rem;
  margin: 1.5rem 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.carte:hover {
  cursor: pointer;
}
.carte:hover > .carte__image {
  opacity: 0.6;
}
.carte:hover > .carte__description-hover {
  transform: translate(0, -130px);
}
.carte:hover > .carte__prix {
  border: #F5EDF3 2px solid;
}
.carte__image {
  width: 100%;
  height: 59.75%;
  border-radius: 2rem 2rem 0 0;
}
.carte__description {
  background-color: #F5EDF3;
  height: 40.24%;
}
.carte__description__titre {
  margin: 1.66rem 0 0 1.66rem;
}
.carte__description__option {
  height: 50%;
  font-size: 0.5rem;
  margin: 0.8rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carte__description-hover {
  height: 40.24%;
  position: absolute;
  background-color: #986EFB;
  bottom: -132px;
  padding: 3rem 1rem 0 1rem;
  color: #ffffff;
  transition: transform 330ms ease-in-out;
}
.carte__prix {
  position: absolute;
  width: 50.8%;
  height: 3.06rem;
  border-radius: 2.9rem;
  background-color: #986EFB;
  top: 170px;
  right: 0px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.66rem;
  line-height: 3.06rem;
  z-index: 999;
}

.carte li {
  line-height: 0.2rem;
  margin: 0 0 0 1rem;
  font-size: 1rem;
}

.selecteur {
  padding: 0;
  margin: 1rem 0;
  border: 0.3rem solid #986EFB;
  width: 12rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}

.selecteur select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selecteur:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.selecteur select:focus {
  outline: none;
}

.panier__produit {
  display: flex;
  height: 2.66rem;
  font-family: "Merienda";
  text-align: center;
  line-height: 2.66rem;
  margin-bottom: 0.8rem;
}
.panier__produit__photo {
  width: 18%;
  background-color: #986EFB;
}
.panier__produit__titre {
  width: 40%;
  background-color: #F5EDF3;
  font-size: 1rem;
  font-weight: 700;
}
.panier__produit__quantite {
  width: 30%;
  margin-left: 2%;
  background-color: #986EFB;
  color: #F5EDF3;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.panier__produit__corbeille {
  height: 100%;
  width: 10%;
  background-color: #F5EDF3;
  padding-top: 4px;
}
.panier__produit__corbeille:hover {
  opacity: 0.8;
  cursor: pointer;
  border: #986EFB 2px dotted;
}

.quantiteMoins, .quantitePlus {
  background-color: white;
  color: black;
  width: 33%;
  border: solid 2px #986EFB;
  font-family: "Roboto";
  font-size: 1.5rem;
}
.quantiteMoins:hover, .quantitePlus:hover {
  cursor: pointer;
  background-color: #F5EDF3;
}

.quantiteEgal {
  width: 33%;
  background-color: #986EFB;
  border: none;
  text-align: center;
  color: white;
  font-family: "Merienda";
  font-size: 1.5rem;
}

.servicePro {
  background-color: #986EFB;
  color: white;
  font-family: "Roboto";
  border-radius: 3rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

footer {
  background-color: #F5EDF3;
  width: 100%;
  height: 3.33rem;
}

header {
  background-color: #F5EDF3;
  width: 100%;
  height: 5.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.13rem;
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0.3rem 2px 1px rgba(152, 110, 251, 0.3);
}

#logo {
  width: 33%;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 1.5rem;
}

main {
  padding: 2.2rem 7%;
  min-height: 80vh;
}

p, li {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}

h1 {
  color: #030303;
  font-family: "Merienda";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: "Merienda";
  font-size: 1.93rem;
  color: black;
}

a {
  text-decoration: none;
}

strong {
  color: #986EFB;
  font-weight: 600;
}

#wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.page-produit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page-produit__description {
  max-height: 400px;
  max-width: 620px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page-produit__image {
  width: 100%;
  max-width: 620px;
  height: 52vw;
  max-height: 400px;
  background-color: #F5EDF3;
  border-radius: 1.1rem;
  margin: 0 auto;
}

.achat {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
}
.achat__prix {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #986EFB;
  font-family: "Merienda";
  margin: auto 0;
}
.achat__bouton {
  width: 33%;
  margin-left: 1rem;
  border-radius: 3rem;
}
.achat__bouton:hover {
  opacity: 0.8;
}

.achat button {
  background-color: #986EFB;
  border: 2px solid #986EFB;
  border-radius: 3rem;
  height: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
  font-family: "Merienda";
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.panier-wrapper {
  display: flex;
  flex-direction: column;
}

.panier-prix {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.33rem;
  font-size: 1.5rem;
}
.panier-prix__total {
  font-family: "Merienda";
  font-size: 2rem;
  line-height: 2rem;
  color: #986EFB;
  font-weight: 700;
  margin: auto 0;
}
.panier-prix__pTotal {
  width: 50%;
  margin-left: 5%;
  height: 2.8rem;
  line-height: 2.8rem;
  border: #986EFB solid 3px;
  border-radius: 3rem;
  color: #986EFB;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.formulaire {
  margin-top: 4.66rem;
  font-family: "Merienda";
}
.formulaire__titre {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.formulaire__petit {
  display: flex;
}
.formulaire__label {
  font-size: 0.8rem;
  padding-left: 5%;
  margin-bottom: 2rem;
}
.formulaire__input {
  background-color: #F5EDF3;
  border: none;
  border-radius: 2rem;
  height: 2rem;
  width: 87%;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  padding-left: 3rem;
  font-size: 1.2rem;
}
.formulaire__input:focus, .formulaire__input:active {
  border: 2px solid #986EFB;
}
.formulaire__validation {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formulaire__submit, .formulaire__reset {
  border-radius: 2rem;
  border: none;
  background-color: #986EFB;
  color: white;
  height: 2rem;
  width: 40%;
  font-size: 1.5rem;
  font-family: "Merienda";
  font-weight: 500;
  position: relative;
}
.formulaire__submit:hover, .formulaire__reset:hover {
  opacity: 0.6;
  cursor: pointer;
}
.formulaire__error {
  border-color: red;
}

.confirmation {
  background-color: #F5EDF3;
  border-radius: 2rem;
  height: 50%;
  padding: 2rem;
  margin: 10% 0;
}
.confirmation__titre {
  font-family: "Merienda";
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.confirmation__paragraphe {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Roboto";
}

.confirmation span {
  color: #986EFB;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  p, li {
    font-size: 1.33rem;
    margin: 3rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5;
  }

  .page-produit__description {
    padding: 0 2rem;
  }

  .selecteur {
    width: 16rem;
    min-height: 34px;
  }

  #wrapper {
    flex-direction: row;
  }

  .achat {
    margin: 2rem 0;
    font-size: 2.2rem;
  }
  .achat__prix {
    font-size: 2.2rem;
    margin: 0;
    line-height: 3rem;
  }
  .achat__bouton {
    margin-left: 3rem;
    width: 40%;
  }

  .bouton {
    height: 3rem;
    line-height: 3rem;
  }

  .produit-image {
    border-radius: 1.1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .formulaire__titre {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .formulaire__label {
    font-size: 1rem;
    padding-left: 5%;
    margin-bottom: 4rem;
  }
  .formulaire__input {
    height: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
  }
  .formulaire__submit, .formulaire__reset {
    height: 3rem;
    width: 40%;
    font-size: 1.5rem;
  }

  .confirmation__titre {
    font-size: 2rem;
  }
  .confirmation__paragraphe {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}
@media screen and (min-width: 1021px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-produit {
    display: flex;
    margin: 4.2rem 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .page-produit__description {
    width: 43vw;
    height: 28.6vw;
    margin: 0;
  }
  .page-produit__image {
    width: 43vw;
    height: 28.6vw;
    margin: 0;
  }

  .panier-wrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .panier, .contact {
    width: 45%;
    margin-top: 2rem;
  }

  .formulaire {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
