.page-produit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__description{
        max-height: 400px;
        max-width: 620px;
        margin: 0 auto 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__image{
        width: 100%;
        max-width: 620px;
        height: 52vw;
        max-height: 400px;
        background-color:  $color-secondary;
        border-radius: 1.1rem;
        margin: 0 auto;
    }
}

.achat{
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    &__prix{
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $color-third;
        font-family: $second-font;
        margin: auto 0;
    }
    &__bouton{
        width: 55%;
        margin-left: 1rem;
        border-radius: 3rem;
        background-color: $color-third;
        border: 2px solid $color-third;
        height: 3rem;
        color: #fff;
        text-align: center;
        line-height: 1.5rem;
        font-family: $second-font;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            opacity : .8;
        }
        &__text{
            line-height: 3rem;
        }
    }
}


