.selecteur {
    padding: 0;
    margin: 1rem 0;
    border: .3rem solid $color-third;
    width: 12rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}
.selecteur select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selecteur:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}
.selecteur select:focus {
    outline: none;
}
